{% extends '::base.html.twig' %}

{% block titulo %}Bienvenido{% endblock %}
 
{% block contenido %}
    <div class="row">
		<div class="col-md-8 col-md-offset-2">

	    </div>
	</div>	  
{% endblock %}
